@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 18px;
    margin-right: 40px;
    font-family: 'Ubuntu', sans-serif;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    background-color: #d43b3b;
    font-family: 'Ubuntu', sans-serif;
    padding: 13px 14px;
    position: sticky;
    top: 0px;
    left: 0px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
   text-decoration: none;
    padding: 13px 20px;
    font-size: 18px;
    color: white;
}
#navbar li a:hover{
    color: black;  
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    align-items: center;
    background: url(/static/bg.jpg) no-repeat center center/cover;
    height: 425px;
    background-color: red;
}
#introSection div.small{
    font-size: 30px;
    padding: 5px;
}
#missionSection{
    height: 300px;
    width: 80%;
    margin: auto;
}
#missionSection h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 12px;
    font-size: 30px;
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 28%;
    margin: 23px 20px;
    height: 209px;
}

.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}

.card-img img{
    height: inherit; 
}

.card-content{
    padding: 0px 10px;
}

.card-content p{
    font-size: 14px;
    font-family: cursive;
    font-weight: bold;
}
#sponsorSection{
    height: 300px;
    background-color: #f1f1f1c2;
}
#sponsorSection h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 12px;
    font-size: 30px;
}
#sponsors{
    height: 120px;
    max-width: 500px;
    margin: 20px auto
}

.spImage{
    height: 80px;
    margin: 20px;
}

#contactSection{
    height: 350px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(238, 237, 236);
}

#contactSection h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 12px;
    font-size: 30px;
}

.form-group input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #d43b3b;
    width: 60%;
    margin: 20px auto;
    padding: 0px 4px;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

.btn {
    display: block;
    margin: auto;
    padding: 5px 16px;
    background-color: #d43b3b;
    color: white;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

#footer{
    background-color: black;
    height: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
